.header {
  height: 70px;
  background-color: $text-color;

  &__button {
    height: 30px;
    display: block;

    @include md {
      display: none;
    }
  }

  &__logo {
    height: 40px;
    margin-top: 15px;
  }

  &__wrapper {
    @include wrapper;
    display: flex;
    justify-content: space-between;
    height: 70px;
  }

  @include lg {
  }

  &__button {
    margin-top: 18px;
  }

  &__navigation {
    list-style-type: none;
    display: none;
    padding-left: 0;

    @include md {
      display: block;
    }
  }

  &__link {
    color: white;
    text-decoration: none;
    display: inline-block;
  }

  &__label {
    font-weight: 300;
    margin: 8px 20px 0 0;
  }
}

.navigation--open {
  display: block;
  animation: showItems 0.2s ease-in-out;

  @include lg {
    animation: none;
  }
}

.navigation--closed {
  display: none;
}

.navigation {
  height: 200vh;
  overflow: hidden;
  background: $text-color;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 9;

  &__button {
    border: none;
    background: none;
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 1.8rem;
    color: white;
  }

  &__logo-container {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__logo {
    width: 100px;
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    width: 100%;
    width: 100%;
    background-color: transparent;
    color: white;
    cursor: pointer;

    &--active {
      color: white;

      .navigation__label {
        background-color: $color-blue;
      }
    }
  }

  &__label {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 20px 0;
    width: 100%;

    @include lg {
      padding: 10px 0 10px 40px;
      width: calc(100% - 40px);
      font-size: 1rem;
    }
  }

  &__section-label {
    font-family: "IBM Plex Sans", sans-serif;
    padding: 10px 0 10px 10px;
    font-size: 0.9rem;
    background-color: $color-light-blue;
    color: $text-color;
  }
}

@keyframes showItems {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideItems {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
