.page-top {
  @include wrapper;
  height: 70px;

  @include lg {
    height: 120px;
  }

  &__title {
    padding: 10px 0 20px;
    border-bottom: 2px solid $text-color;

    @include lg {
      font-size: 3rem;
      padding: 30px 0 30px;
    }
  }
}
