.forms {
  &__wrapper {
    @include wrapper;
  }

  &__title {
    font-size: 1.1rem;
    text-transform: uppercase;
    border-bottom: 3px solid $color-light-blue;
    letter-spacing: 0.01rem;
    color: $color-light-blue;
  }

  &__example {
    margin: 50px 0;
  }

  &__input {
    width: 288px;
    border: 2px solid $text-color;
    border-radius: 4px;
    padding: 6px;
    font-size: 1.1rem;
    margin-top: 10px;
  }

  &__textarea {
    @extend .forms__input;
    height: 100px;
    resize: none;
  }

  &__description-container {
    display: grid;
    grid-template-columns: 1fr;

    @include md {
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }
  }

  &__description {
    background-color: $background-grey;
    padding: 10px 15px;
    margin: 20px 0 0;
    border-right: 2px solid $color-light-blue;
  }

  &__description-title {
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0;
  }

  &__description-body {
    margin: 0;
  }

  &__code {
    border-left: 2px solid $color-light-blue;
    margin: 20px 0;
    overflow: scroll;
    padding: 20px 10px;
    min-height: 45px;
    max-height: 150px;
    height: fit-content;
    background: $background-grey;
  }
}
