.textures {
  &__wrapper {
    @include wrapper;
    margin-bottom: 50px;

    display: grid;
    grid-gap: 50px;
    grid-template-columns: 1fr;

    @include md {
      grid-template-columns: 1fr 1fr;
    }

    @include xlg {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__texture {
    width: 100%;
    height: 300px;
  }

  &__texture-description {
    background-color: $background-grey;
    padding: 10px 15px;
    margin: 20px 0 0;
    border-right: 2px solid $color-light-blue;
  }

  &__texture-description-title {
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0;
  }

  &__texture-description-body {
    margin: 0;
  }

  &__test {
    margin-top: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 0;
    width: 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background: $background-grey;
      transition: 0.2s linear;
    }

    &--green {
      background: $background-color;
    }
  }
}
