//Primary colors
$background-color: #ffffff;
$background-brown: #fffcf8;
$text-color: #272727;
$color-blue: #1a30ff;

//Secondary Colors
$color-light-blue: lighten($color-blue, 30%);
$color-yellow: #ffaf20;
$color-red: #ff5a3a;
$color-green: #6dfa60;
$color-light-grey: #e6e6e6;

//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1025px;
$screen-xxl: 1600px;

//Wrapper width and heights
$wrapper-max-width: 1200px;
$content-max-width: 960px;
$pageMinHeight: 100vh;
