//Primary colors
$background-color: #c5d3c9;
$background-grey: #f7f7f7;
$text-color: #373737;
$color-blue: #283440;

//Secondary Colors
$color-light-blue: #5d83ff;
$color-green: #c5d3c9;
$color-yellow: #f2b036;
$color-light-grey: #e6e6e6;

//Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 960px;
$screen-xxl: 1600px;

//Wrapper width and heights
$wrapper-max-width: 1200px;
$content-max-width: 960px;
$pageMinHeight: 100vh;
