//Variables and Mixins
@import "./variables";
@import "./mixins";

@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans|IBM+Plex+Serif&display=swap");
//General Styling
html {
  font-family: "IBM Plex Serif", serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "IBM Plex Sans", sans-serif;
}

input,
button,
textarea {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  color: $text-color;
  word-break: break-word;
}

main {
  min-height: $pageMinHeight;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

a {
  color: $color-blue;
  font-family: "IBM Plex Sans", sans-serif;

  &:hover {
    color: lighten($color-blue, 30%);
  }
}

.wrapper {
  background-color: #fff;
}

.wrapper--brown {
  background-color: $background-brown;
}

//Components and pages
@import "components/header";
@import "components/modalForm";
@import "components/result";
@import "components/footer";
@import "pages/home";
